
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background: none;
    border: none;
    
}
.main{
    width: 990px;
    height: auto;
    margin: auto;
}
.row{
    width: 100%;
    background-color: #1f1f1f;
    display: inline-block;
}
.row a img{
    padding: 16px;
    float: left;
}
.row ul{
    float: right;
}
.row ul li {
    display: inline-block;
    border-right: 1px solid #000000;
}
.row ul li a {
    font-family: Oswald;
    font-size: 20px;
    color: #fff;
    padding: 30px;
    display: inline-block;
}
.row ul li a:hover{
    background-color: #00aeef;
}
.row ul li:last-child{
    border: none;
}
.row1{
    width: 100%;
    height: 440px;
    background:url(../images/header.jpg);
    display: inline-block;
}
.row1 h2{
    font-family: oswald;
    font-size: 55px;
    color: #fff;
    font-weight: normal;
    margin: 45px 0 0 15px;
}
.row1 h3{
    font-family: oswald;
    font-size: 36px;
    color: #fff;
    margin: 0 0 0 15px;
    font-weight: normal;
}
.row1 p{
    width: 350px;
    height: 132px;
    font-family: oswald;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    margin: 0 0 0 15px;
}
.row1 a{
 font-family: Oswald;
    font-size: 18px;
    color: #fff;
    background-color: #0083b5;
    border-bottom: 5px solid #002a42;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 0 12px;
} 
.row2{
    width: 100%;
    height: 68px;
    background-color: #eaeaea;
    display: inline-block;
    
}
.row2 h2{
    width: 130px;
     font-family: oswald;
    font-size: 20px;
    line-height: 68px;
    color: #00597a;
    margin-left: 10px;
    float: left;
    line-height: 68px;
}
.row2 marquee {
    width: 600px;
    height: 68px;
    background: url(../images/shadow11.png) no-repeat right;
    float: left;
}
.row2 marquee img{
    float: left;
    margin: 30px 10px 0 10px;
}
.row2 marquee p{
    font-family: Arial;
    font-size: 14px;
    color: #9c9c9c;
    float: left;
    line-height: 68px;
}
.row2 ul{
    width: 212px;
    float: right;
    margin-top: 15px;
}
.row2 ul li{
    display: inline-block;
    margin-right: 10px;
}
.row3{
    width: 100%;
    height: 525px;
    margin-top: 25px;
}
.row3-col{
    width: 320px;
    height: 255px;
    border: 3px solid #bfbdbd;
    float: left;
    margin:0 0 12px 3px;
    background-color: #e1e1e1;
}
.up{
    width: 320px;
    height: 50px;
    background-color: #f1f1f1;
}
.up img{
    float: left;
    padding-left: 7px;
}
.up h2{
     font-family: oswald;
    font-size: 29px;
    display: inline-block;
    font-weight: normal;
    padding: 0 0 0 10px;
    color: #333333;
}
.up h2 span{
    color: #00aeef;
}
.row3-col p{
    width: 181px;
    height: 185px;
    font-family: Arial;
    font-size: 12px;
    color: #686868;
    overflow: hidden;
    line-height: 21px;
    padding: 0 0 0 10px;
    float: left;

}
.img1{
    border-radius: 50%;
    margin-top: -10px;
    border: 3px solid #fff;
}
.row3-col:hover{
    background-color: #00aeef;
}
.row3 :hover .up{
    background-color: #fff;
}
.row3 :hover p{
    color: #fff;
}
.row3 :hover a{
    background-color: #0083b5;
    color: #fff;
    border-bottom: 5px solid #00476e;
}
.row3-col a{
     font-family: Oswald;
    font-size: 13px;
    float: right;
    margin: 15px 30px 0 0;
    color: #333333;
    background-color: #bfbdbd;
    border-radius: 5px;
    border-bottom: 5px solid #898989;
    padding: 10px 21px;
}
.row4{
    width: 100%;
    height: 125px;
    background-color: #00aeef;
    margin-top: 40px;
}
.row4 h2{
    font-family: Oswald;
    font-size: 36px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    float: left;
    margin: 42px 0 0 120px;
}
.row4 form{
    width: 400px;
    height: 55px;
    float: right;
    margin: 35px 160px 0 0;
    background:url(../images/srch-back.jpg);
    border: 2px solid #949494;
}
.row4 input{
    width: 335px;
     font-family: Arial;
     float: left;
    font-size: 18px;
    color: #a3a3a3;
    font-style: italic;
    padding: 17px 0 0 15px;
}
.row4 form .submit{
    width: 24px;
    height: 22px;
    float: right;
    background:url(../images/srch-icon.png)no-repeat;
    display: inline-block;
    margin: 15px 15px 0 0;
    cursor: pointer;
}
.row5{
    width: 100%;
    height: 65px;
    background-color: #333333;
    display: inline-block;
}
.row5 p{
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    line-height: 65px;
    float: left;
    margin-left: 15px;
}
.row5 a{
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    line-height: 65px;
    float: right;
    margin-right: 25px;
}
.row6{
    width: 100%;
    height: 230px;
    background:url(../images/background.jpg)
}
.row6 img{
    float: right;
    margin: 12px 55px 0 0;
}
.row6-col{
    width: 430px;
    display: inline-block;
}
.row6 h2{
    font-family: Oswald;
    font-weight: normal;
    font-size: 55px;
    color: #fff;
    margin: 50px 0 0 15px;
    text-shadow: 3px 3px #003a50;
}
.row6 h3{
    font-family: Oswald;
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    padding: 0 0 0 15px;
    text-shadow: 3px 3px #003a50;
}
.row7{
    width: 100%;
    height: 460px;
    text-align: center;
    margin-top: 35px;
}
.row7 h2{
    font-family: Oswald;
    font-size: 55px;
    color: #333333;
    font-weight: normal;
    
}
.row7 p{
    width: 920px;
     font-family: Oswald;
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    margin-top: 42px;
    
}
.row7 p span{
    width: 910px;
    font-family: Oswald;
    font-size: 16px;
    color: #6f6f6f;
    font-weight: normal;
    display: inline-block;
    margin-top: 42px;
    
}
.row8{
    width: 100%;
    margin-top: 37px

}
.row8-col{
    width: 300px;
    height: 390px;
    border: 2px solid #c2c2c2;
    float: left;
    margin-bottom: 37px;
}
.row8-col h2{
    font-family: Myriad Pro;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    background-color: #00a4e2;
    padding:10px;
}
.row8-col ul li a{
    font-family: Myriad Pro;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
    padding: 10px 0 10px 30px;
    display: block;
    background: url(../images/bulit.png)no-repeat left 10px center;
}
.row8-col ul li:hover a{
    color: #fff;
    background: url(../images/bulit2.png)no-repeat left 10px center;
    background-color: #00a4e2;
    margin-left: 30px;
}
.row8-col1{
    width: 635px;
    height: 390px;
    float: right;
    border: 1px solid #cccccc;
}
.row8-col1 h2{
    font-family: Myriad Pro;
    font-size: 55px;
    font-weight: normal;
    color: #00a4e2;
    margin: 20px; 0 12px 25px;
}
.row8-col1 h3{
    font-family: Myraid Pro;
    font-size: 25px;
    font-weight: normal;
    color: #333333;
    margin: 0 0 22px 25px;
}
.row8-col1 p{
    width: 585px;
    font-family: Myraid Pro;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    line-height: 30px;
    margin-left: 25px;    
}
.row9{
    width: 100%;
    height: 230px;
    background:url(../images/background.jpg)
}
.row9 img{
    float: right;
    margin: 12px 55px 0 0;
}
.row9-col{
    width: 460px;
    display: inline-block;
}
.row9 h2{
    font-family: Oswald;
    font-weight: normal;
    font-size: 55px;
    color: #fff;
    margin: 50px 0 0 15px;
    text-shadow: 3px 3px #003a50;
}
.row9 h3{
    font-family: Oswald;
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    padding: 0 0 0 15px;
    text-shadow: 3px 3px #003a50;
}
.row10{
    width: 100%;
    margin: 40px 0 0 0;
}
.row10-col{
    width: 450px;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
    float: left;
    margin-bottom: 30px;
}
.row10-col h2{
    font-family: Oswald;
    font-size: 25px;
    font-weight: normal;
    color: #333333;
    margin: 15px 0px 0px 15px;

}
.row10-col input{
    font-family: Oswald;
    font-size: 18px;
    width: 415px;
    height: 40px;
    border: 1px solid #d9d9d9;
    margin: 8px 16px;
    background-color: #fff;
    padding: 0 0 0 10px;

}
input.button{
    font-family: Oswald;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #00a4e2;
    border: none;    
    cursor: pointer;
    width: 425px;
}
.row10-col textarea{
    font-family: Oswald;
    font-size: 18px;
    width: 415px;
    height: 105px;
    border: 1px solid #d9d9d9;
    margin: 8px 16px 16px 16px;
    background-color: #fff;
    padding: 0 0 0 10px;
}
.row10-con{
    width: 470px;
    border: 1px solid #c2c2c2;
    float: right;
}
.row10-con h2{
    font-family: Oswald;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    background-color: #00a4e2;
    padding: 8px 0 8px 20px;
}
.aa{
    width: 375px;
    height: 40px;
}
.aa h2{
      width: 60px;
    height: 100px;
     font-family: Oswald;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background:none;
    display: inline-block;

}
.aa p{
     font-family: Oswald;
    font-size: 16px;
    font-weight: normal;
    color: #696969;
    background:none;
    display: inline-block;
}
.map{
    width: 470px;
    height: 190px;
}